* {
    padding: 0;
    margin: 0
}

.main-container {
    position: relative;
    width: 540px;
    height: 620px;
    overflow: hidden;
    margin-left: 400px;
    text-align: center;
    margin-top: 60px;
}

button:hover {
    background-color: black;
}