
.wrapper{
    width: 100%;
    margin: 0px auto;
    
}

.header .social-icon-holder{
    display: none;
    
}



.main-container{
    width: 100%;
    text-align: center;
}

.upper-container, .lower-container{
    width: 100%;
}

.header{
    position: relative;
}

.burger-logo-holder li{
    list-style: none;
    /* float: left; */
    /* padding-right: 16px; */
    padding: 3px 146px;
    display: none;
}

.burger-logo-holder:hover li{
    float: none;
    display: block;
} 

.burger-logo-holder ul{
    background-color: rgba(55, 55, 55, 0.9);
    display: block;
}

.burger-logo-holder ul li a{
    text-decoration: none;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    font-family: 'Montserrat';
    color: white;
    text-transform: uppercase;
    padding: 2px 0;
    cursor: pointer;
}

.main-menu-phone{
    position: absolute;
    top: 56px;
    left: 0px;
    z-index: 50;
    width: 100%;
}

.burger-logo-holder .main-menu-phone a:hover {
   color: red;
  }
  
  .burger-logo-holder a.active {
    color: red;
  }
  

.left{
    float: left;
}

.right{
    float: right;
}

.upper-container .logo-holder{
    float: right;
    padding-right: 5px;
}

.header{
    padding: 20px 0;
}

.header .logo-social{
    width: 52.941%
}

.header .social-icon-holder{
    width: 33.33%;
}

.header .social-icon-holder ul li a{
    display: inline-block;

}

.header .social-icon-holder-phone ul li {
    display: inline;
    margin-left: 5px;
}

.social-icon-holder-phone{
    margin-top: 10px;
}

.upper-container .header .burger-logo-holder{
    padding-left: 7px;
}

.top-image{
    position: relative;
}

.top-arrow, .down-arrow, .small-text, .large-text{
    display: none;
}

.lower-container .signup-newsletter{
    padding: 30px 0;
}

.lower-container .signup-newsletter .signup-header{
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    font-family: 'Montserrat';
}

.signup-newsletter>div>*{
    margin-bottom: 12px;
    
}



.lower-container .signup-newsletter .name-input input, .lower-container .signup-newsletter .email-input input{
    width: 300px;
    padding-top: 12px;
    padding-bottom: 6px;
    padding-left: 29px;
}

.signup-newsletter a{
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    font-family: 'Montserrat';
    text-decoration: none;
    background: #212121;
    padding: 5px;
    color: white;
}

.subscribe-button a:hover{
    color: red;
}

.left-col{
    width: 100%;
    margin-top: 5px; 
}

.body-build-image-container{
    position: relative;
}

.left-col img{
    width: 100%;
    height: auto;
}

.pin-image-holder{
    position: absolute;
    top: 0;
    right:0;
    /* height: 20px;
    width: 20px; */
}

.image-icon-holder{
    position: absolute;
    left: 48%;
    bottom: -9px;
}

.absolute-image{
    height: 20px;
    width: 20px;
}

.pin-image-holder img, .image-icon-holder img{
    width: 100%;
    height: 100%;
}

.travel-block-container{
    margin-top: 25px;
    margin-bottom: 5px;

}


 .upper-text{
    margin: 0 auto;
    font-family: 'Montserrat';
    font-size: 12px;
    text-transform: uppercase;
    color: #999999;
}

.title-content{
    /* text-align: left; */
    font-family: 'Montserrat';
    color: black;
    font-size: 12px;
    margin: 0 auto;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.author-date{
    margin-bottom: 5px;
}

.author-date-container{
    margin: 0 auto;
    width: 45%;
}

.author, .date{
    font-size: 10px;
}

.author .author-name, .publish-date{
    font-family: 'Hind';
    text-transform: uppercase;
    color: #999999;
    display: inline;
}

.left-col p{
    width: 85.9649%;
    font-size: 10px;
    text-align: center;
    font-family: 'Hind';
    color: #464646;
    margin: 0 auto;
    margin-bottom: 7px;
}

.read-more{
    margin: 0 auto;
}

.read-more{
    margin-bottom: 15px;
}

.read-more a{
    display: inline;
    color: #212121;
    background: #f9f9f9;
    line-height: 16px;
    font-size: 10px;
    text-align: center;
    font-family: 'Montserrat';
    text-decoration: none;
    text-transform: uppercase;
    padding: 3px;
    border-right: solid 1px #d7d7d7;
    border-left: solid 1px #d7d7d7;
}

.read-more a:hover{
    border-right: solid 1px #cc2127;
    border-left: solid 1px #cc2127;
}

.like-comment-socialicon{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
}



.like, .comment{
    font-size: 8px;
    font-family: 'Hind';
    text-transform: uppercase;
    color: #999999;
    display: inline;
}


.like-comment{
    width: 60%;
    margin: 0 auto;
    /* display: inline; */
}

.like-comment a{
    text-decoration: none;
    color: #464646;
}
.like-comment-socialicon .social-icon{
    display: none;    
}

.like-comment-socialicon .like-comment .fa-comments:hover{
    color: #a7a7a7;
}

.like-comment-socialicon .like-comment .fa-heart:hover{
    color: #cc2127;
}

.disabled{
    cursor: not-allowed;
}

.disabled i{
    color: #a7a7a7;
}



/* .disabled .fa-comments:hover{
    color: #a7a7a7;
} */


/* .like-comment-socialicon .like-comment{
    text-align: center;
} */


.quote-container{
    position: relative;
    width: 100%;
    background: #131d1c;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.quote-container-1{
    position: relative;
    width: 100%;
    background: #131d1c;
    /* padding-bottom: 10px; */
    margin-bottom: 10px;
}


.quote{
    margin: 0 auto;
    width: 88.8596%;
    padding: 20px 0;
}

.quote-container p{
    display: block;
    font-style: 'Hind';
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}

.quote-container-1 p{
    display: block;
    font-style: 'Hind';
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}
.quote-image{
    background: white;
    position: absolute;
    top: -6px;
    left: 50%;
}


.quote-person p {
    color: #999999;
}

.body-build-image-container iframe{
    width: 100%;
    height: 300px;
}

.lower-content-wrapper{
    background: white;
    margin-top: 10px;
}

.bg-white{
    height: 10px;
    background: #f9f9f9;
}

.quote-container a{
    text-decoration: none;
    color: white;
    font-style: 'Hind';
    text-transform: uppercase;
    font-size: 10px;
}

.quote-container-1 a{
    text-decoration: none;
    color: white;
    font-style: 'Hind';
    text-transform: uppercase;
    font-size: 10px;
}


@media only screen and (min-width: 768px){
   
    .wrapper{
        width: 48em;
        margin: 0px auto;
    }

    .header .social-icon-holder{
        display: block;
    }
    
    .social-icon-holder-phone{
        display: none;
    }
    .header ul li{
        display: inline;
        padding: 0 3px;
    
    }

    .upper-container .header .burger-logo-holder{
        padding-left: 7px;
    }
    
    .upper-container .header .logo-holder{
        float: left;
        padding-right: 0;
    }

    .top-arrow, .down-arrow{
        position: absolute;
        right: 18px;
        display: block;
    }

    .small-text , .large-text{
        position: absolute;
        display: block;
        left: 60px; 
    }

    .small-text{
        top: 90px;
        color: white;
        font: 16px;
        color: white;
        line-height: 15px;
        font-size: 14px;
        font-family: 'Hind';
    }

    .large-text{
        top: 120px;
        color: white;
        font-size: 18px;
        font-family: 'Hind';
        line-height: 25px;
        text-transform: uppercase;
        width: 30.7189%;
        text-align: left;
        font-weight: bold ;
        letter-spacing: 3.8px;
    }
    

    .top-arrow{
        top: 65px;
    }

    .down-arrow{
        top: 200px;
    }

    .lower-container .signup-newsletter .signup-header{
        line-height: 20px;
        font-size: 20px;
       
        font-family: 'Montserrat';
    }

    .signup-newsletter>div>*{
        margin-bottom: 25px;
        
    }

    .lower-container .signup-newsletter .name-input input, .lower-container .signup-newsletter .email-input input{
        width: 449px;
        padding-top: 22px;
        padding-bottom: 18px;
        padding-left: 29px;
    }

    .signup-newsletter .subscribe-button{
        margin-top: 16px;
    }

    .signup-newsletter a{
        line-height: 20px;
        font-size: 20px;
        text-align: center;
        font-family: 'Montserrat';
        text-decoration: none;
        background: #212121;
        padding: 14px 60px;
    }

    .left-col{
        width: 74.5098%;
        margin-top: 50px; 
    }
    

    .pin-image-holder{
        position: absolute;
        top: 0;
        right:0;
     
    }

    .absolute-image{
        height: 38px; 
        width: 45px;
    }

    .image-icon-holder{
        bottom: -18px;
    }
    
    .travel-block-container{
        margin-top: 35px;
        margin-bottom: 20px;
       
    }
    
    .travel-block-container .upper-text{

        font-size: 16px;
        
    }

    .title-content{
        /* text-align: left; */
        font-family: 'Montserrat';
        color: black;
        font-size: 14px;
        margin: 0 auto;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .burger-logo-holder ul{
        background-color: rgba(55, 55, 55, 0);
        display: block;
    }

    .main-menu-phone{
        margin-top: 22px;
        /* margin-right:  */
    }

    .burger-logo-holder img{
        display: none;
    }

    .burger-logo-holder:hover li{
        float: none;
        display: inline;
    } 

    .author-date-container{
        /* margin: 0 auto; */
        width:40%;
    }
    
    .author, .date{
        font-size: 14px;
    }


    .author-date{
        margin-bottom: 28px;
    }

    .left-col p{
        line-height: 21px;
        font-size: 14px;
        margin-bottom: 20px;
    }

    .read-more{
        margin-bottom: 45px;
    }


    .read-more a{
        line-height: 16px;
        font-size: 12px;
        padding: 8px;
        border-right: solid 1px #d7d7d7;
        border-left: solid 1px #d7d7d7;
    }

    .like-comment-socialicon{
        width: 50%;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    
    
    
    .like, .comment{
        font-size: 13px;
    }


    .quote-container{
        padding-bottom: 20px;
        margin-bottom: 25px;
    }
    .quote-container p{
            font-size: 15px;

            line-height: 25px;
    }

    .quote-container-1 p{
        font-size: 15px;

        line-height: 25px;
}


    .quote-image .fa-quote-left{
        font-size: 20px;
    }

    .quote{
        padding-top: 35px;
    }

    .quote-image{
        top: -17px;
        padding: 8px;
    }

    .quote{
        padding-bottom: 0;
    }
    
    .body-build-image-container iframe{
        width: 100%;
        height: 425px;
    }

    .lower-content-wrapper{
        margin-top: 35px;
    }

    .quote-container-1{
        
        margin-bottom: 25px;
    }

    .quote-container-1 .link{
        margin-top: 10px;
    }


}
    
    


@media only screen and (min-width: 1280px){

    .main-container{
        /* width: 1638px; */
        width: 100%;
        text-align: center;
    }
    
    .upper-container, .lower-container{
        width:100%
        /* width: 1638px; */
    }
    .wrapper{
        width: 95%;
        margin: 0px auto;
    }

    .header ul li{
        display: inline-block;
        padding: 0px 8px;
        /* border-style: solid; */

    }

    .upper-container{
        background: url(../images/top-container-bg.png) repeat-x;
        /* background-size: cover; */
    }

    .upper-container .header .burger-logo-holder{
        padding-left: 0px;
        }
    
    .upper-container .header .logo-holder{
        float: left;
        padding-right: 5px;
    
     }

     .top-arrow, .down-arrow{
         right: 32px;
     }

     .top-arrow{
         top: 122px;
     }

     .down-arrow{
         top: 308px;
     }

     .small-text{
        left: 100px;
        top: 200px;
        color: white;
        font: 18px;
        color: white;
        line-height: 15px;
        font-size: 14px;
        font-family: 'Hind';
    }

    .large-text{
        left: 100px;
        top: 230px;
        color: white;
        font-size: 40px;
        font-family: 'Hind';
        line-height: 52px;
        text-transform: uppercase;
        width: 30.7189%;
        text-align: left;
        font-weight: bold ;
        /* letter-spacing: 3px; */

    }

    .lower-container .signup-newsletter{
        width: 95.9477%;
        margin-left: 30px;
        margin-right: 32px;
     }

     .signup-header, .name-input, .email-input, .subscribe-button{
         float: left;
     } 

     .signup-header{
         margin-right: 56px;
     }

     .name-input{
         margin-right: 28px;
     }

     .email-input{
         margin-right: 32px;
     }

     .lower-container .signup-newsletter .signup-header{
        line-height: 28px;
        font-size: 20px;
        width: 146px;
        font-family: 'Montserrat';
        text-align: left;
        text-transform: uppercase;
    }

    .lower-container .signup-newsletter .name-input input, .lower-container .signup-newsletter .email-input input{
        width: 310px;
        padding-top: 22px;
        padding-bottom: 18px;
        padding-left: 20px;
    }

    .signup-newsletter>div>*{
        margin-bottom: 25px;
        
    }

    .signup-newsletter .subscribe-button{
        margin-top: 16px;
    }

    .signup-newsletter a{
        line-height: 20px;
        font-size: 20px;
        text-align: center;
        font-family: 'Montserrat';
        text-decoration: none;
        background: #212121;
        padding: 14px 40px;
    }

    .left-col{
        width: 74.5098%;
        margin-top: 80px; 
    }

    .pin-image-holder{
        position: absolute;
        top: 0;
        right:0;

    }
    
    .absolute-image{
        height: 44px;
        width: 52px;
    }

    .image-icon-holder{
        bottom: -18px;
        left: 46.5%;

    }
    
    .travel-block-container{
        margin-top: 67px;
        /* text-align: left; */
        margin-bottom: 30px;
    }
    
    .travel-block-container .upper-text{
        /* margin-left: 44%; */
        font-size: 16px;

    }

    .title-content{
        /* text-align: left; */
        font-family: 'Montserrat';
        color: black;
        font-size: 18px;
        /* margin-left: 360px; */
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    .burger-logo-holder ul{
         background-color: rgba(55, 55, 55, 0); 
        display: block;
    }

    .burger-logo-holder img{
        display: none;
    }

    .author-date-container{
        /* margin: 0 auto; */
        width:28.0701%;
    }
    
    .author, .date{
        font-size: 16px;
    }

    .author-date{
        margin-bottom: 41px;
    }
 
    .left-col p{
        line-height: 27px;
        font-size: 16px;
        margin-bottom: 47px;
    }

    .read-more{
        margin-bottom: 75   px;
    }

    .read-more a{
        line-height: 16px;
        font-size: 14px;
        padding: 16px;
        border-right: solid 1px #d7d7d7;
        border-left: solid 1px #d7d7d7;
    }

    .like-comment-socialicon{
        margin: 0;
        /* padding-left: 58px; */
        width: 100%;
        margin-bottom: 80px;
    }

    .like-comment-container{
        width: 86.2280%;
        margin: 0 auto;
    }

    .like-comment-socialicon .like-comment{
        float: left;
        width: 25%;
        
    }

    

    .like-comment-socialicon ul li{
        /* text-align: left; */
        display: inline;
        padding: 0px 8px;
        margin: 0px;
    }

    .like-comment-socialicon ul li:last-child{
        padding-right: 0px;
        /* margin-left: 10px; */
    }

    .like, .comment{
        font-size: 14px;
    }


    .like-comment-socialicon .social-icon{
        display: block;
        float: right;
        width: 17%;
        font-size: 18px;

    }

    .like-comment-socialicon ul li i{
        color: #464646;
    }

    .like-comment-socialicon ul li i:hover{
        color: grey;
    }

    .quote{
        padding-top: 90px;
        padding-bottom: 50px;
    }
    .quote-container p{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 0px;
}

.quote-container-1 p{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0px;
}

.quote-container{
    padding-bottom: 60px;
    margin-bottom: 40px;
}

.quote-container-1{
    /* padding-bottom: 60px; */
    margin-bottom: 40px;
}


.body-build-image-container iframe{
    width: 100%;
    height: 675px;
}

.lower-content-wrapper{
    margin-top: 35px;
}


}




